.contact-wrapper{
    width: 100%;
    height: 600px;
    margin-top: 10px;
}
.contact-left{
    width: 55%;
    float: left;
}
.contact-left form{
    margin-left: 20px;
}
.contact-left form input{
    width: 600px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 13px;
    padding: 0px 20px;
}
.contact-left form textarea{
    width: 600px;
    height: 265px;
    border: none;
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 13px;
    padding: 10px 20px;
    margin-top: 10px;
}
.contact-left form input[type="submit"]{
    background: #ec6401;
    color: #ffffff;
    border: none;
    cursor: pointer;
}
.contact-left form input[type="submit"]:hover{
    background: #000000;
}
.contact-left form input::placeholder{
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}
.contact-left form textarea::placeholder{
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}
.contact-right{
    float: right;
}
.contact-right h2,
.contact-right p,
.contact-left h2,
.contact-left p{
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 13px;
}


@media screen and (max-width: 480px) and (min-width: 320px){
    .contact-left,
    .contact-right{
        float: none;
        width: 100%;
    }
    .contact-wrapper{
        min-height: 1200px;
    }
    .edit{
        width: 400px;
    }
    .contact-left form{
    margin-left: 0px;
}
.contact-left form input{
    width: 400px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    font-family: 'Encode Sans Expanded', sans-serif;
    padding: 0px 20px;
}
.contact-left form textarea{
    width: 400px;
    height: 265px;
    border: none;
    font-family: 'Encode Sans Expanded', sans-serif;
    padding: 10px 20px;
    margin-top: 10px;
}


}