.discount-banner{
    width: 100%;
    height: 300px;
    background: url(../images/discount.jpg);
    margin-bottom: 5px;
}
.dis-con{
    width: 100%;
    height: 710px;
}
.form{
    position: relative;
    float: left;
}
.dispix{
    position: relative;
    float: right;
}
form#dis-form{
    width: 600px;
    background: #cccccc;
    padding: 20px;
}
form#dis-form input{
    width: 450px;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 75px;
    font-family: 'Encode Sans Expanded', sans-serif;
}
form#dis-form input:focus,
form#dis-form select:focus,
form#dis-form textarea:focus{
    background: #ec6401;
    color: #ffffff;
}
form#dis-form select{
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 75px;
    font-family: 'Encode Sans Expanded', sans-serif;
}
form#dis-form select option{
    
}
form#dis-form textarea{
    width: 450px;
    height: 200px;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 75px;
    font-family: 'Encode Sans Expanded', sans-serif;
}
form#dis-form label,
form#dis-form label p{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 75px;
    font-family: 'Encode Sans Expanded', sans-serif;
}
form#dis-form input[type="submit"]{
    background: #ec6401;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Encode Sans Expanded', sans-serif;
}
@media screen and (max-width: 1024px) and (min-width: 820px){
    .form{
    position: relative;
    float: left;
    width: 70%;
    }
    .dispix{
    position: relative;
    float: right;
    width: 30%;
    }
    .dispix img{
    width: 100%;
    }
}

@media screen and (max-width: 768px) and (min-width: 500px){
.discount-banner{
    width: 100%;
    height: 300px;
    background: url(../images/discount.jpg);
    margin-bottom: 5px;
}
.dis-con{
    height: 1200px;
}
.form{
    position: relative;
    float: none;
}
.dispix{
    position: relative;
    float: none;
}
.dispix img{
    width: 300px;
    margin-left: 20px;
    }
form#dis-form{
    width: 300px;
    background: #cccccc;
    padding: 5px;
    margin: 0 auto;
}
form#dis-form input{
    width: 250px;
    margin-left: 20px;
}
form#dis-form select{
    width: 120px;
}
form#dis-form select option{
    
}
form#dis-form textarea{
    width: 250px;
    margin-left: 20px;
}
form#dis-form label,
form#dis-form label p{
    margin-left: 20px;
}
}
@media screen and (max-width: 480px) and (min-width: 320px){
.discount-banner{
    width: 100%;
    height: 300px;
    background: url(../images/discount.jpg);
    margin-bottom: 5px;
}
.dis-con{
    height: 1200px;
}
.form{
    position: relative;
    float: none;
}
.dispix{
    position: relative;
    float: none;
}
.dispix img{
    width: 300px;
    margin-left: 20px;
    }
form#dis-form{
    width: 300px;
    background: #cccccc;
    padding: 5px;
    margin: 0 auto;
}
form#dis-form input{
    width: 250px;
    margin-left: 20px;
}
form#dis-form select{
    width: 120px;
}
form#dis-form select option{
    
}
form#dis-form textarea{
    width: 250px;
    margin-left: 20px;
}
form#dis-form label,
form#dis-form label p{
    margin-left: 20px;
}
}
@media screen and (max-width: 360px) and (min-width: 280px){
.discount-banner{
    width: 100%;
    height: 300px;
    background: url(../images/discount.jpg);
    margin-bottom: 5px;
}
.dis-con{
    height: 1200px;
}
.form{
    position: relative;
    float: none;
}
.dispix{
    position: relative;
    float: none;
}
.dispix img{
    width: 300px;
    margin-left: 20px;
    }
form#dis-form{
    width: 300px;
    background: #cccccc;
    padding: 5px;
    margin: 0 auto;
}
form#dis-form input{
    width: 250px;
    margin-left: 20px;
}
form#dis-form select{
    width: 120px;
}
form#dis-form select option{
    
}
form#dis-form textarea{
    width: 250px;
    margin-left: 20px;
}
form#dis-form label,
form#dis-form label p{
    margin-left: 20px;
}
}