@import url('https://fonts.googleapis.com/css?family=Metal+Mania|Open+Sans|Open+Sans+Condensed:300|Slabo+27px|Voltaire|Encode+Sans+Expanded');

/*
font-family: 'Voltaire', sans-serif;
font-family: 'Slabo 27px', serif;
font-family: 'Open Sans Condensed', sans-serif;
*/
